.noteprev{
    padding-top:50px;
}

.viewbtn{
    margin-right:10px;
    opacity:0.3;
    transition-duration:0.3s;
}

.editbtn{
    opacity:0.3;
    transition-duration:0.3s;
}

.deletebtn{
    margin-left:10px;
    opacity:0.3;
    transition-duration:0.3s;
}



.viewbtn #viewsvg{
    fill:#28a745;
}

.viewbtn:hover #viewsvg{
    fill:white;
}

.editbtn #editsvg{
    fill:#ffc107;
}

.editbtn:hover #editsvg{
    fill:white;
}

.deletebtn #deletesvg{
    fill:#dc3545;
}

.deletebtn:hover #deletesvg{
    fill:white;
}

#notepreviewcontainer{
    cursor: pointer;
    z-index:-1;
}

#notepreviewcontainer:hover .viewbtn{
    opacity:1;
}

#notepreviewcontainer:hover .editbtn{
    opacity:1;
}

#notepreviewcontainer:hover .deletebtn{
    opacity:1;
}

.innereditbtn #editsvg{
    fill:white;
}

.innerdeletebtn #deletesvg{
    fill:white;
}

#gearsvgicon{
    fill:rgba(255,255,255,0.5);
    transition-duration:0.3s;
}

#gearsvgicon:hover{
    fill:rgba(23, 224, 255, 0.9);
}